<div class="login-block">
    <div class="container">
	<div class="row">
		<div class="col-md-4 col-sm-12 login-sec">
		    <h2 class="text-center">Lend Me Some Charge
        <i class="fas fa-charging-station"></i>    
        </h2>
		    <div class="login-form">
  <div class="form-group">
    <label for="exampleInputEmail1" class="text-uppercase">Username</label>
    <input type="text" [(ngModel)] ="username" class="form-control" placeholder="">
    
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1" class="text-uppercase">Password</label>
    <input type="password" [(ngModel)] ="password" class="form-control" placeholder="">
  </div>
  
  
    <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input">
      <small>Remember Me</small>
    </label>
    <button type='button' (click)="onSubmit()" class="btn btn-login float-right">Submit</button>
    
  </div>
  
</div>
		</div>
		<div class="col-md-8 banner-sec">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel"  data-interval="3000">
                 <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                  </ol>
            <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <img class="d-block img-fluid" src="assets/incharge.jpg" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <div class="banner-text">
            <h2>EV Car Charging</h2>
            <p>Peer to peer charging is the future! If you find yourself in a tough spot or want to help out, check out this App.</p>
        </div>	
  </div>
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid" src="assets/cartocar.png" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <div class="banner-text">
            <h2>Help is always Nearby</h2>
            <p>Log in to the App to find out lenders. Get the immediate help and drive your EV car without any hussle.</p>
        </div>	
    </div>
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid" src="assets/connect.jpg" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <div class="banner-text">
            <h2>Be a Hero</h2>
            <p>Check out the application and see if you can help out someone who is requesting for charge. </p>
        </div>	
    </div>
  </div>
            </div>	   
		    
		</div>
	</div>
</div>
</div>